In [71]:
import pandas as pd
import os

In [72]:
# create month and annual join keys
BASE_CALENDAR_PATH = r'C:\Users\connor\PycharmProjects\trading\data\base\calendar\calendar.csv'
STAGE_CALENDAR_PATH = r'C:\Users\connor\PycharmProjects\trading\data\stage\stage_calendar'
df_calendar = pd.read_csv(BASE_CALENDAR_PATH)

In [73]:
df_calendar

,Id,Date,DateLongDescription,DateShortDescription,DayLongName,DayShortName,MonthLongName,MonthShortName,CalendarDay,CalendarWeek,...,CalendarQuarter,CalendarQuarterStartDateId,CalendarQuarterEndDateId,CalendarQuarterStartDate,CalendarNumberOfDaysInQuarter,CalendarDayInQuarter,CalendarYear,CalendarYearEndDateId,CalendarYearStartDate,CalendarNumberOfDaysInYear
0,1,1/1/2000,"Saturday, January 1, 2000",1-Jan-00,Saturday,Sat,January,Jan,1,52,...,1,1,231,1/1/2000,91,1,2000,1131,1/1/2000,366
1,2,1/2/2000,"Sunday, January 2, 2000",2-Jan-00,Sunday,Sun,January,Jan,2,52,...,1,1,231,1/1/2000,91,2,2000,1131,1/1/2000,366
2,3,1/3/2000,"Monday, January 3, 2000",3-Jan-00,Monday,Mon,January,Jan,3,1,...,1,1,231,1/1/2000,91,3,2000,1131,1/1/2000,366
3,4,1/4/2000,"Tuesday, January 4, 2000",4-Jan-00,Tuesday,Tue,January,Jan,4,1,...,1,1,231,1/1/2000,91,4,2000,1131,1/1/2000,366
4,5,1/5/2000,"Wednesday, January 5, 2000",5-Jan-00,Wednesday,Wed,January,Jan,5,1,...,1,1,231,1/1/2000,91,5,2000,1131,1/1/2000,366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18258,491127,12/27/2049,"Monday, December 27, 2049",27-Dec-49,Monday,Mon,December,Dec,361,52,...,4,490901,491131,10/1/2049,92,88,2049,491131,1/1/2049,365
18259,491128,12/28/2049,"Tuesday, December 28, 2049",28-Dec-49,Tuesday,Tue,December,Dec,362,52,...,4,490901,491131,10/1/2049,92,89,2049,491131,1/1/2049,365
18260,491129,12/29/2049,"Wednesday, December 29, 2049",29-Dec-49,Wednesday,Wed,December,Dec,363,52,...,4,490901,491131,10/1/2049,92,90,2049,491131,1/1/2049,365
18261,491130,12/30/2049,"Thursday, December 30, 2049",30-Dec-49,Thursday,Thu,December,Dec,364,52,...,4,490901,491131,10/1/2049,92,91,2049,491131,1/1/2049,365
18262,491131,12/31/2049,"Friday, December 31, 2049",31-Dec-49,Friday,Fri,December,Dec,365,52,...,4,490901,491131,10/1/2049,92,92,2049,491131,1/1/2049,365

In [74]:
df_calendar['month_join_key'] = pd.to_datetime(dict(year=df_calendar.CalendarYear, month=df_calendar.CalendarMonth, day=1))
df_calendar['CalendarQuarterStartDate'] = pd.to_datetime(df_calendar['CalendarQuarterStartDate'], yearfirst=True)
df_calendar['year_join_key'] = pd.to_datetime(dict(year=df_calendar.CalendarYear, month=1, day=1))

In [75]:
df_calendar[['CalendarYear', 'CalendarMonth', 'month_join_key', 'CalendarQuarterStartDate', 'year_join_key']]

,CalendarYear,CalendarMonth,month_join_key,CalendarQuarterStartDate,year_join_key
0,2000,1,2000-01-01,2000-01-01,2000-01-01
1,2000,1,2000-01-01,2000-01-01,2000-01-01
2,2000,1,2000-01-01,2000-01-01,2000-01-01
3,2000,1,2000-01-01,2000-01-01,2000-01-01
4,2000,1,2000-01-01,2000-01-01,2000-01-01
...,...,...,...,...,...
18258,2049,12,2049-12-01,2049-10-01,2049-01-01
18259,2049,12,2049-12-01,2049-10-01,2049-01-01
18260,2049,12,2049-12-01,2049-10-01,2049-01-01
18261,2049,12,2049-12-01,2049-10-01,2049-01-01
18262,2049,12,2049-12-01,2049-10-01,2049-01-01

In [76]:
df_calendar.to_csv(os.path.join(STAGE_CALENDAR_PATH, 'stage_calendar.csv'), index=False)